*{
    padding: 0;
    margin: 0;   
}
body{
    background-color: #222627;   
    overflow: hidden; 
}
 h1{
     padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #659dbd;
    font-size: 60px;
     background-color: #4e4e50;
    padding-bottom: 90px;
    padding-top: 50px;
}
.h1{
    padding-left:100px;
}

h2{
    padding-bottom: 20px;
    color: whitesmoke;

}
 
form{
    text-align:center;
    align-items: center;
    padding-top:170px;
}

button{

    padding: 15px 117px 15px 118px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    
}
button:hover{
    background-color:#4e4e59;
}

input{
    padding: 20px 110px 20px 30px;
    border-radius: 3%;
    border: 1px solid rgb(34, 10, 53);

}
footer{
    text-align: center;
    padding-top: 160px;
    color: whitesmoke;
}